<div ng-controller="ProjectTasksCtrl">
    <h3 style="display: inline">Project tasks</h3>

    <button type="button" class="btn btn-default pull-right rm-10 bm-10" ng-click="createTask()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Create a task
    </button>

    <uib-alert type="danger" ng-if="alertMessage" class="tm-20">{{ alertMessage }}</uib-alert>

    <div ng-show="count" class="ta-mid">
        <uib-pagination total-items="count" ng-model="currentPage" max-size="perPage" class="pagination-sm" boundary-links="true"
                        items-per-page="perPage" force-ellipses="true" ng-change="loadTasks()"></uib-pagination>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="table-cell-align header-sm">Name</th>
            <th class="table-cell-align">Description</th>
            <th class="table-cell-align header-sm">Priority</th>
            <th class="table-cell-align header-md">Status</th>
            <th class="table-cell-align button-header">Remove</th>
        </tr>
        <tr ng-repeat="task in tasks" class="clickable" ng-click="open(task.id)">
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td class="text-lowercase">{{ task.priority | lowercase }}</td>
            <td class="text-lowercase">{{ task.status | lowercase }}</td>
            <td class="table-cell-align ta-mid">
                <span class="glyphicon glyphicon-trash" ng-click="remove(task.id)"></span>
            </td>
        </tr>
        <tr ng-if="!count">
            <td colspan="4">
                <uib-alert type="warning" class="tm-20 rm-20 lm-20"><span class="glyphicon glyphicon-warning-sign"></span>
                    &nbsp;Sorry, no results were found.
                </uib-alert>
            </td>
        </tr>
    </table>
</div>