<div id="Task" class="plr-50 ptb-20">
    <button ng-hide="edit" type="button" class="btn btn-default pull-right rm-10 bm-10" ng-click="edit = true">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
    </button>

    <uib-alert type="danger" ng-if="alertMessage" class="tm-20">{{ alertMessage }}</uib-alert>

    <div>
        <div ng-hide="edit" class="bm-60">
            <table>
                <tr class="text-1_5x">
                    <td class="text-right"><b>Code</b></td>
                    <td class="lp-20">{{ task.code }}</td>
                </tr>
                <tr class="text-2_5x">
                    <td class="text-right"><b>Subject</b></td>
                    <td class="lp-20">{{ task.subject }}</td>
                </tr>
                <tr class="text-1_5x">
                    <td class="text-right"><b>Priority</b></td>
                    <td class="lp-20 text-capitalize">{{ task.priority }}</td>
                </tr>
                <tr class="text-1_5x">
                    <td class="text-right"><b>Status</b></td>
                    <td class="lp-20 text-capitalize">{{ task.status }}</td>
                </tr>
                <tr class="text-1_5x">
                    <td class="text-right"><b>Author</b></td>
                    <td class="lp-20">{{ task.created.username }}</td>
                </tr>
                <tr class="text-1_5x">
                    <td class="text-right"><b>Assigned to</b></td>
                    <td ng-show="task.assigned" class="lp-20">{{ task.assigned.username }}</td>
                    <td ng-hide="task.assigned" class="lp-20">None</td>
                </tr>
                <tr>
                    <td class="text-right"><b>Description</b></td>
                    <td class="lp-20">{{ task.description }}</td>
                </tr>
            </table>
        </div>

        <div ng-show="edit">
            <div class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="subject-edit">Subject</span>
                <input type="text" class="form-control" placeholder="subject" aria-describedby="name-subject" ng-model="subject"/>
            </div>

            <div class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="description-edit">Description</span>
                <textarea class="form-control" placeholder="Description" aria-describedby="description-edit" rows="5"
                          ng-model="description">
                </textarea>
            </div>

            <div class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="description-edit">Priority</span>
                <select class="form-control" ng-model="priority">
                    <option ng-repeat="priority in priorities">{{ priority }}</option>
                </select>
            </div>

            <div class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="description-edit">Status</span>
                <select class="form-control" ng-model="status">
                    <option ng-repeat="status in statuses">{{ status }}</option>
                </select>
            </div>

            <div class="input-group input-container tm-5">
                <span class="input-group-addon input-description-135" id="description-assigned">Assigned to</span>
                <input type="text" ng-model="assignedTo" placeholder="Type user name" typeahead-editable="false"
                       uib-typeahead="user as user.username for user in getParticipants($viewValue)"
                       class="form-control" aria-describedby="description-assigned" typeahead-min-length="0">
            </div>

            <div class="tm-10" style="height: 34px">
                <button type="button" class="btn btn-default pull-right" ng-click="update()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Update
                </button>
                <button type="button" class="btn btn-default pull-right rm-10" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ng-include src="'static/partials/task_history.html'"></ng-include>
        </div>
        <div class="col-md-6">
            <ng-include src="'static/partials/task_comments.html'"></ng-include>
        </div>
    </div>

</div>