<div id="Comments" ng-controller="TaskCommentsCtrl">
    <h3>Comments</h3>

    <div ng-show="count" class="ta-mid">
        <uib-pagination total-items="count" ng-model="queryParams.page" max-size="5" items-per-page="queryParams.per_page"
                        class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="loadPage()"></uib-pagination>
    </div>

    <table class="table table-striped table-hover">
        <tr ng-repeat="comment in comments">
            <td ng-class="{'text-italic': editId == comment.id}">
                <span class="lp-10"><b>{{ comment.created.username }}:</b> {{ comment.text }}</span>
                <br/>
                <span class="lp-10">{{ comment.date | date:'medium' }}</span>
            </td>
            <td class="ta-mid" style="vertical-align: middle;" ng-show="display == 'admin' || comment.created.id == userId">
                <span class="glyphicon glyphicon-edit clickable" ng-click="edit(comment)"></span>
                &nbsp;
                <span class="glyphicon glyphicon-trash clickable" ng-click="remove(comment)"></span>
            </td>
            <td ng-hide="display == 'admin' || comment.created.id == userId">&nbsp;</td>
        </tr>
    </table>

    <div ng-hide="comments.length">
        There are no comments.
    </div>

    <div class="input-group input-container tm-5">
        <textarea class="form-control" placeholder="Comment text" aria-describedby="comment-text" rows="3" ng-model="comment.text">
        </textarea>
        <span class="input-group-btn lp-10">
			<button class="btn btn-default" ng-click="save()" style="width: 75px">Save</button>
            <br/>
            <button ng-show="comment.id" class="btn btn-default" ng-click="cancel()" style="width: 75px">Cancel</button>
		</span>
    </div>
</div>