.input-description-80 {
    width: 80px !important;
    text-align: right;
}

.input-description-100 {
    width: 100px !important;
    text-align: right;
}

.input-description-110 {
    width: 110px !important;
    text-align: right;
}

.input-description-115 {
    width: 115px !important;
    text-align: right;
}

.input-description-135 {
    width: 135px !important;
    text-align: right;
}

.input-container {
    width: 100%;
}